<!-- Use debug=true here if you want to see output from the appender itself -->
<configuration>
    <!-- Use shutdownHook so that we can close gracefully and finish the log drain -->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <if condition='${SEND_LOGZIO:-false}'>
        <then>
            <appender name="LogzioLogbackAppender" class="io.logz.logback.LogzioLogbackAppender">
                <token>$LOGZIO_TOKEN</token>
                <logzioUrl>https://listener.logz.io:8071</logzioUrl>
                <logzioType>todo-java</logzioType>
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>INFO</level>
                </filter>
                <addHostname>true</addHostname>
                <additionalFields>env=$ENV</additionalFields>
            </appender>
        </then>
    </if>
    
    <root level="info">
        <appender-ref ref="Console"/>
        <!-- IMPORTANT: make sure to include this line, otherwise the appender won't be used -->
        <if condition='${SEND_LOGZIO:-false}'>
            <then>
                <appender-ref ref="LogzioLogbackAppender"/>
            </then>
        </if>
    </root>
</configuration>